.progress-bar-container {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .progress-bar {
    height: 100%;
    background-color: #007bff;
    /* animation: progress-bar-animation 5s ease-out; */
  }
  
  @keyframes progress-bar-animation {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }